body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body, button, label { font: 1rem sans-serif; }

memphis-menubar {
  flex-shrink: 0;
}

#editor-container {
  flex-grow: 1;
  display: grid;
  gap: 0;
  background-color: var(--highlight);
  padding: 20px;
  overflow: auto;
  align-content: start;
  justify-content: start;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid var(--bevel2light);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 1.2rem;
  user-select: none;
}

.cell.cursor {
  background-color: var(--title2);
  outline: 2px solid var(--title1);
  border-color: var(--title1);
  z-index: 1;
}
